.allMales{
    display: flex;
    flex-direction: column;
}
.all{
    width: 75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;
    /* background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=400"); */

}
.males{
    margin-top: 30px ;
    display: flex;
    flex-direction: row;
    width: 30rem;
    height: 9rem;
    margin-left: 30px;
    /* background-color: #918a66; */
    margin-bottom: 20px;
    /* padding: 50px; */
}
#image{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius:50% ;
    margin-top: 8px;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
.header{
    display: flex;
    flex-direction: column;
    margin-top:8px;
    align-content: space-between;
    row-gap: 10px;
}
.header:hover{
    color: #000000;

}
.name-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    text-decoration: none;
    color: #000000;
}
.name-price :hover{
    color: #EFAC68;
}
.hLine{
    border: 1px solid rgba(141, 137, 137, 0.5);
}
.price{
    color: #EFAC68;
}
.description{
    color: #BDBDBD;
}